{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}Log Out{% endblock title %}

{% block content %}
    
    <div class="container height">
        <div class="row">
            <div class="col-8">
                <h1>Log Out</h1>
                <h2>Are you sure you want to Logout </h2>
                
            </div>
        </div>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {{forn|crispy}}
            <button class="btn btn-danger" type="submit">Log Out </button>
        </form>
    </div>
    <div class="container height"></div>
    
{% endblock content %}