{% extends '_base.html' %}
{% load static %}


{% block title %}Home{% endblock title %}

{% block content %}


<div class="container-fluid hero-section ">
  <div class="main-header">
      <div class="hero-text ">
          <h1 class="display-5 fw-bold row justify-content-center button-text ">BE PRODUCTIVE</h1>
          <h1 class="display-5 fw-bold row justify-content-center button-text "> NOT BUSY</h1>
          <div class="container">
              <div class="row align-self-center">
                  <div class="col-2">

                  </div>
                  <div class="col-lg-6 mx-auto">
                      <p class=" lead-mb-4 hero-para-text button-text">We believe that when ambitious students get more opportunity it ultimately benefits everyone, and leads to a more better world. We’re committed to giving these ambitious students the community they need to take the next step in their careers — whatever that means to each of them.</p>
                  </div>
                  <div class="col-2">
                      
                  </div>
              </div>
                                 
          </div>
          <div  class="container">
              <img class="d-block mx-auto mb-4 mt-4 dropdown-logo" src="/static/images/dropdown.png" alt="" width="72" height="57">
          </div>
          <a href="{% url 'account_signup' %}">
            <div class="d-grid gap-2 col-3 mx-auto mt-4">
              <button class="btn btn-lg btn-primary rounded-pill button-color button-text"  type="button">Sign Up</button>
            </div>
          </a>
      </div>
  </div>  
</div>



<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Our Members Are From</h1>
  <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
          We are one of the fastest growing student community. We are commited to provide best resources and information in the field of computer science and techonology. As we know computer science is a dynamic and rapidly growing area that has become an integral part of the world that we live in today. Our community members comes from various prestigious colleges of india and various parts of the world, many of them are from iits, nits, bits. 
  </div>
</div>

{% for title in title_list %}
<div class="container ">
  <div class="row align-middle">
    <div class="col-md-6 col-lg-12 column">
      <div class="card gr-1">
        <div class="txt">
          <h1>BRANDING AND </br>
CORPORATE DESIGN</h1>
          <p>Visual communication and problem-solving</p>
        </div>
        <a href="#">more</a>
        <div class="ico-card">
        <i class="fa fa-rebel"></i>
      </div>
      </div>
    </div>
  </div>

      
    </div>
</div>
{% endfor %}  
<div class="gapheight"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 align-self-center">
      <h3>Privacy is our #1 Concern</h3>
      <h5 class="text-content-main text-content">Even when carefully kept, paper journals can be read by anyone who happens upon them. Penzu keeps your journals safe with double password protection and military strength encryption so you can rest easy knowing that your entries are secure in the Penzu Vault.</h5>

    </div>
    <div class="col-sm-1">
      
    </div>
    <div class="col-sm-5">
      <img src="{% static 'images/encryption.jpg' %}" class="img-fluid" alt="...">
    </div>
    
  </div>
</div>

<div class="container gapheight">
  
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <img src="{% static 'images/device2.png' %}" class="img-fluid" alt="...">
    </div>
    <div class="col-sm-4 align-self-center">
      <h3>Write from Anywhere</h3>
      <h5 class="text-content-main text-content">Take your journals wherever you go with the Penzu mobile apps for iPhone, iPad, and Android phones and tablets.</h5>
    </div>
  </div>
</div>

    

<!-- Functionalities goes here -->
      

    
    
    
    
    
    <!--
        <h1>Homepage</h1>
    {% if user.is_authenticated %}
        Hi {{ user.email }}
        <p><a href="{% url 'account_logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in  </p>
        <a href="{% url 'account_login' %}">Log In</a>
        <a href="{% url 'account_signup' %}">Sign Up</a>
    {% endif %}
    -->
    
{% endblock content %}